font-family = "Hack Nerd Font Mono"
font-size = 16

theme = dark:catppuccin-mocha, light:catppuccin-latte

keybind = ctrl+s>w=new_window
keybind = ctrl+s>x=close_window

keybind = ctrl+s>t=new_tab
keybind = ctrl+s>n=next_tab
keybind = ctrl+s>p=previous_tab

keybind = ctrl+s>x=close_surface

keybind = super+k=new_split:up
keybind = super+j=new_split:down
keybind = super+l=new_split:right
keybind = super+h=new_split:left

keybind = ctrl+s>k=goto_split:top
keybind = ctrl+s>j=goto_split:bottom
keybind = ctrl+s>l=goto_split:right
keybind = ctrl+s>h=goto_split:left

keybind = ctrl+s>z=toggle_split_zoom

keybind = super+ctrl+k=resize_split:up,40
keybind = super+ctrl+j=resize_split:down,40
keybind = super+ctrl+h=resize_split:left,40
keybind = super+ctrl+l=resize_split:right,40
keybind = super+ctrl+e=equalize_splits

keybind = ctrl+s>f=toggle_fullscreen

keybind = ctrl+s>i=inspector:toggle

